

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    margin: 0;
    height: 100%;
    overflow: hidden;
    background-image: url("photos/łonka.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: rgb(85, 30, 4);
    font-size: 62.5%;
    /* 10px */
}

body {
    width: 100%;
    height: 100%;
    font-family: "Poppins", sans-serif;
    font-size: 1.5rem;
}

.flex-wrapper {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


/* .container {
    max-width: 900px;
    margin: 0 auto;
    padding: 0 1.5em;
    padding-bottom: 1em;
} */

.smaller-container {
    display: flex;
    align-items: center;
    flex-direction: column;
}

p {
    margin: 1.5rem;
}

.story {
    max-width: 700px;
    text-align: justify;
}

.important {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

button {
    font-size: inherit;
    padding: 0.9rem 2.8rem;
    margin: 2rem 0;
    border-radius: 0.25rem;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    border: none;
    cursor: pointer;
    background-image: linear-gradient(to right top, #e2f106, #e9e833, #ede04b, #eed85e, #edd170, #edce74, #edca78, #ecc77c, #efc575, #f3c36d, #f7c066, #fbbe5f);
}




img.icon {
    height: 60px;
    width: 60px;
    border-radius: 0.25rem;
    
}

.Bee {
    height: 250px;
    width: 250px;
    border-radius: 50%;
    margin: 1.5rem;
    
}

#giveBee  {
    margin-top: 0;
}

/* Footer */

.footer-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
   
}

.footer-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 7rem;
    
}

.footer-icon ol {
    display: flex;
    list-style: none;
}

.footer-icon ol li {
    padding-right: 1rem;
}

.dev {
    text-align: center;
    color: white;
}


.footer {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem;
    
    text-align: center;
}

/* Wild Bees */

.wild-bee_1 {
    position: absolute;
    left: 10%;
}

.wild-bee_2 {
    position: absolute;
    right: 10%;
}

.wild-bee_3 {
    position: absolute;
    left: 0;
    top: 50%;
    
}

.wild-bee_4 {
    position: absolute;
    right: 0;
    top: 50%;
    
}

.oneline {
    display: inline;
}

#NFT {
    font-family: 'Staatliches', cursive;
    font-size: 2rem;
}

/* @media screen and (max-width: 1200px) {
    .Bee {
      height:150px;
      width: 150px;
    }
    .wild-bee_3 {
        position: absolute;
        left: 0;
        top: 40%;
    }
    
    .wild-bee_4 {
        position: absolute;
        right: 0;
        top: 40%;

  }

  img {
    height: 75px;
    width: 75px;
    border-radius: 0.25rem;
}
    
}



 

/* 
320px — 480px: Mobile devices
481px — 768px: iPads, Tablets
769px — 1024px: Small screens, laptops
1025px — 1200px: Desktops, large screens
1201px and more —  Extra large screens, TV */

@media (min-width: 480px){

body {
    font-size: 1.7rem;
}

img.icon {
    height: 70px;
    width: 70px;
    border-radius: 0.25rem;
    
}

.Bee {
    height: 220px;
    width: 220px;
    border-radius: 50%;
    margin: 1.5rem;
    
}



}


@media (min-width: 726px){

    body {
        font-size: 1.9rem;
    }
    img.icon {
        height: 80px;
        width: 80px;
        border-radius: 0.25rem;
        
    }
    }



@media (min-width: 1025px){

    body {
        font-size: 2.2rem;
    }
      
    img.icon {
        height: 90px;
        width: 90px;
        border-radius: 0.25rem;
        
    }
    }   



@media (min-width: 1200px){

    body {
        font-size: 2.5rem;
    }
    .story {
        max-width: 900px;
        
    }    

    }   



@media (min-width: 1600px){

    body {
        font-size: 3rem;
    }
    .story {
        max-width: 1000px;
        
    }    
    .dev {
        font-size:2.5rem;
    }
}   